@model List<Budgetis_V0.Models.Tache>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>


@if (!Model.Any())
{
    <p>Aucune tâche prévue ..</p>
}
else
{ <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>liste des taches</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var task in Model)
        {
            <tr>
              
               
                <td>@Html.ActionLink(task.description, "Detail", "Tache", new { id = task.id }, null)</td>
                
            </tr>
            
        }
    </tbody>
    

</table>
}